
<div class="button-container">
  <button [routerLink]="['/test']" mat-raised-button color="primary">
    <mat-icon>arrow_back</mat-icon>
    К расписанию
  </button>
</div>
<h1 style="text-align: center">{{discipline}}</h1>
<div class="content">
<div class="tableLabs" style="float: left">
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows
         class="mat-elevation-z8">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef > {{columnsForDisplay[columnsToDisplay.indexOf(column)]}} </th>
      <td mat-cell *matCellDef="let element" >{{element[column]}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
        class="example-element-row"></tr>
  </table>

</div >
<div class="info" style="float: left">
  <button mat-raised-button color="accent">
     Информация
  </button>
</div>
  <div class="historySend" style="float: right">
  <div style="border: 1px solid black" >
  <mat-list role="list">
    <mat-list-item role="listitem">История отправлений</mat-list-item>
    <mat-list-item role="listitem">1. файл.txt 12.9.2019  "Для лр Consul"</mat-list-item>
    <mat-list-item role="listitem">2. файл2.txx 24.11.2019 "Для лр Keycloal"</mat-list-item>
  </mat-list>
  </div>
  <button mat-raised-button color="accent">
    Отправить файл
  </button>

</div>
</div>
